.btn{
    background-color: #014421;
    color: white;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease; 
}

.btn:hover{
    background-color: yellowgreen;
}