.form-container{
    background-color: green;
    width: 70%;
    height: 200px;

}

.input-container{
    display: flex;
    margin-top: 20px;
    gap: 35px;
    margin-bottom: 30px;
    
}
.input-text{
    color: greenyellow;
}

.description{
    color: red;

}

.tags-input{

}